<table class='table'>
  <thead>
    <tr>
      <th>商品ID</th>
      <th>商品名</th>
      <th>税抜価格</th>
      <th>ジャンル</th>
      <th>ステータス</th>
    </tr>
  </thead>
  <tbody>
    <!--ここからデータ読み込み-->
    <% products.each do |product| %>
    <tr>
      <!--商品ID-->
      <td><%= product.id %></td>
      <!--商品名-->
      <td><%= link_to product.name, admin_product_path(product.id) %></td>
      <!--税抜価格-->
      <td><%= product.price %></td>
      <!--ジャンル-->
      <td><%= product.genre.genre %></td>
      <!--販売ステータス-->
      <td>
        <% if product.is_active %>
          <P class="text-success">販売中</P>
        <% else %>
          <p>販売停止中</p>
        <% end %>
      </td>
    </tr>
    <% end %>
    <!--ここまで-->
  </tbody>
</table>

<!--ページネーション～kaminari～-->
<div>
  <%= paginate products %>
</div>