<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h1>商品詳細</h1>

      <!--商品詳細データ-->
      <div class="row">
        <!--商品画像-->
        <div>画像</div>
        <!--商品画像-->
          <%= image_tag @product.image, size:"320x240" %>
        <div>
          <table class='table'>
            <tr>
              <td>商品名</td>
              <td><%= @product.name %></td >
              <td>商品名</td>
            </tr>
            <tr>
              <td>商品説明</td>
              <td><%= @product.description %></td>
              <td>商品説明</td>
            </tr>
            <tr>
              <td>ジャンル</td>
              <td><%= @product.genre.genre %></td>
              <td>ジャンル</td>
            </tr>
            <tr>
              <td>税込価格<br />（税抜価格）</td>
              <td><%= (@product.price*1.1).round.to_s(:delimited) %>（<%= @product.price.to_s(:delimited) %>）円</td>
            </tr>
            <tr>
              <td>販売ステータス</td>
              <td>
                <% if @product.is_active %>
                  販売中
                <% else %>
                  販売停止中
                <% end %>
              </td>
            </tr>
          </table>
          <%= link_to "編集する", edit_admin_product_path class: "btn btn-success" %>
        </div>

      </div>
    </div>
  </div>
</div>