<div class="container">
  <h2 class="bg-secondary px-3 my-3 col-md-4 text-center">注文情報確認</h2>
  <div class="row">
    <table class="table table-bordered">
      <thead class="thead-dark">
        <tr>
          <th>商品名</th>
          <th>単価（税込み）</th>
          <th>数量</th>
          <th>小計</th>
        </tr>
      </thead>
      <tbody>

        <% @cart_items.each do |cart_item| %>
        <% @sum = 0 %>
        <tr>
          <td>
            <%= image_tag cart_item.product.get_product_image,size: "240x180" %>
            <%= cart_item.product.name %>
          </td>
          <td><%= cart_item.product.with_tax_price %></td>
          <td><%= cart_item.quantity %></td>
          <td><%= @sum += cart_item.sub_total %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <table class="table table-bordered table-sm">
      <tr>
        <th>送料</th>
        <th>800</th>
      </tr>
      <tr>
        <th>商品合計</th>
        <th><%= @total_price %></th>
      </tr>
      <tr>
        <th>請求金額</th>
        <th><%= @total_price + 800 %></th>
      </tr>
    </table>
    <table class="col-md-9 table table-bordered">
      <tr>
        <th class="strong">支払い方法</th>
        <th><%= @order.method_of_payment_i18n %></th>
      </tr>
      <tr>
        <th class="strong">お届け先</th>
        <th><%= @order.address_display %></th>
      </tr>
    </table>
    <%= form_with model:@order_new,method: :post do |f| %>
      <%= f.hidden_field:customer_id,value:current_customer.id %>
      <%= f.hidden_field:order_status,value:Order.order_statuses.key(0) %>
      <%= f.hidden_field:name,value:@order.name %>
      <%= f.hidden_field:post_code,value:@order.post_code %>
      <%= f.hidden_field:address,value:@order.address %>
      <%= f.hidden_field:postage,value:800 %>
      <%= f.hidden_field:total_payment,value:@total_price + 800 %>
      <%= f.hidden_field:method_of_payment,value:@order.method_of_payment %>
      <div class="col-md-2 mt-5"><%= f.submit "注文を確定する",class:"btn btn-lg btn-success" %></div>
    <% end %>
  </div>
</div>